<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
                text-align: center;
                margin: 20px auto;
                display: block;
                max-width: 600px;
                height: 100%;
                color:azure;
                background-color: #080a0a;;
            }
            form {
                text-align: center;
            }
        </style>
    </head>
    <body>
            <h1> 일 지 작 성 </h1>
            
            <form action="/add" method="POST" >
                <dl>
                    <p>
                        환자 번호 <input name="p_id" type="text" >
                    </p>
                    <p>
                        환자 성함 <input name="m_id" value="" type="text" >
                    </p>
                    <p>
                        날짜 <input name="dates" value="" type="text" >
                    </p>
                    <p>
                        아침식사(o,x) <input name="breakfast" value="" type="text" >
                    </p>
                    <p>
                        점심식사(o,x) <input name="lunch" value="" type="text" >
                    </p>
                    <p>
                        저녁식사(o,x) <input name="dinner" value="" type="text" >
                    </p>
                    <p>
                        투약 시간 <input name="medicine" value="" type="text" >
                    </p>
                    <p>
                        혈당 <input name="blood_sugar" value="" type="text" >
                    </p>
                    <p>
                        혈압 <input name="blood_pressure" value="" type="text" >
                    </p>
                    <p>
                        목욕(o,x) <input name="bath" value="" type="text" >
                    <p>
                        외박 <input name="overnight" value="" type="text">
                    </p>
                    <p>
                    <input type="submit" value="입력완료">
                    </p>
                </dl>
            </form>
            <a href="/">⇦</a><br><br>
    </body>
</html>