<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
                text-align: center;
                margin: 20px auto;
                display: block;
                max-width: 600px;
                height: 100%;
                color:azure;
                background-color: #080a0a;;
            }
            table {
                text-align: center;
                background-color: #ffffff;
            }
            div {
                text-align: center;
            }
        </style>
    </head>
    <body>
            <h1> 보 호 자 </h1><br><br>
            <table border="1" align="center">
                <th>환자</th>
                <th>보호자 연락처</th>
                <th>관계</th>
                <th>보호자 성함</th>
            {% for item in items %}
                <tr><td>{{ item.Pname }}</td>
                <td>{{ item.fnumber }} </td>
                <td>{{ item.relation }} </td>
                <td>{{ item.fname }}<br></td></tr>
            {% endfor %}
            </table>>
           
            
            <div class='article'>
                <br><br><h3>환자의 성함을 입력해주세요</h3><br>
                <form action='#family' metho='POST'>
                    <label for='name'>Name</label>
                    <input id='name' type='text' name='name' placeholder='type patient name'>
                    <input type='submit' value='Submit'>
                </form>
            </div>

            
    </body>
</html>