<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
                text-align: center;
                margin: 20px auto;
                display: block;
                max-width: 600px;
                height: 200%;
                color:azure;
                background-color: #a0daeb;;
            }
            p {
                text-align: center;
            }
            
        </style>
    </head>
    <body>
        <br><br><br>
            <h1> CareU </h1><br><br><br><br>
            <p> <a href='family'style="color: #e48085;font-size: 2.0em;font-weight: bold;background: white;text-decoration:none;"> 보호자 확인 📞 </a></p><br>
            <p> <a href='medical_staff'style="color: rgb(236, 164, 130);font-size: 2.0em;font-weight: bold;background: white;text-decoration:none;"> 의료진 확인 👨‍⚕️</a></p><br>
            <p> <a href='care'style="color: rgb(236, 234, 130);font-size: 2.0em;font-weight: bold;background: white;text-decoration:none;"> 일지 쓰기 📝 </a></p><br>

    </body>
</html>